.childPage1 {
    background-color: #f7f7f7;
    padding: 2rem 0;
    // border: 1px solid red;
    z-index: -1 !important;
}

.childPage2 {
    width: 100%;
    // border: 1px solid red;
}

.childPage {
    width: 94%;
    margin: 0 auto;
    max-width: 1480px;
    // border: 1px solid black;
}