.firmCulture_Container{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    // border: 1px solid red;
}

.firmCulture_Content {
    width: 90%;
    max-width: 1600px;
    margin: 50px 0px;
    // border: 1px solid red;
}

.firmCulture_head {
    font-size: 44px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    line-height: 50px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

.firmCulture_GridLayout {
    margin-top: 80px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    // border: 1px solid skyblue;
}

.firmCulture_GridItem {
    bottom: 0px;
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px #efefef;
    position: relative;
    transition: bottom 0.25s;
    -webkit-transition: bottom 0.25s/* Safari */
}

.firmCulture_GridItem:hover {
    bottom: 20px;
}

.gridItem_Icon {
    img {
        width: 80px;
        border-radius: 40px;
        transition: transform 0.5s ease; /* 添加平滑过渡效果 */
    }
    
    img:hover {
        animation: rotateOnce 0.5s ease; /* 触摸时触发旋转动画 */
    }
}

@keyframes rotateOnce {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gridItem_Title {
    font-size: 24px;
    color: #212529;
    line-height: 36px;
    margin: 20px 0px;
}

.gridItem_Text {
    font-size: 16px;
    color: #686868;
    line-height: 30px;
    margin: 20px 0px;
}

.gridItem_Num {
    font-size: 100px;
    color: rgba(3, 78, 183, 0.03);
    font-weight: 700;
    height: 200px;
    top: 30px;
    right: 20px;
    position: absolute;
}