.FirmHistory_Container {
    position: relative;
    width: 100%;
    background-image: url("http://nas.wjq718.fun:10001/imageFiles/2r603mvgdk9enwyt.png");
    min-height: 600px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    // border: 1px solid red;
    padding: 50px 0px;
}

.FirmHistory_Content {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    // border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

.FirmHistory_head {
    font-size: 44px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    line-height: 50px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.FirmHistory_SlideShow {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.SlideShow_Box {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%;
    position: relative;
    z-index: 1;
}

.SlideShow_Item {
    width: 50%;
    padding: 20px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.Arrow_Box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 5;
    background: transparent;

    hr {
        padding-top: 5px;
        margin: 0px 20px;
        border: none;
        border-bottom: 1.5px solid #777777;
    }
}

.SlideShow_Arrow {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    span {
        color: #777777;
        font-size: 36px;
    }
}

.table-container {
    width: 90%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 5%;
    right: 0;
    transform: translateY(-50%);

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    td {
        padding: 12px 8px;
        text-align: center;
        font-size: 14px;
        word-wrap: break-word;
    }

    #circle {
        td {
            font-size: 24px;
            line-height: 1.5;
            text-align: left;
        }

        // border: 1px solid red;
        color: #2f9ade;
    }

}

.content-box1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 90%;
    overflow: hidden;
    position: absolute;
    top: 25%;
    left: 5%;
    right: 0;
    transform: translateY(-50%);
    height: 35%;
    padding-left: 20px;
    // border: 1px solid red;
}

.content-box2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 90%;
    overflow: hidden;
    position: absolute;
    top: 75%;
    left: 27.5%;
    right: 0;
    transform: translateY(-50%);
    height: 35%;
    padding-left: 20px;
    // border: 1px solid red;
}

.content-item {
    width: 45%;
    border-left: 1px solid #777777;
    padding-left: 20px;
    #time {
        font-size: 32px;
        color: #2f9ade;
        line-height: 1.2;
    }

    #text {
        margin-top: 10px;
        font-size: 16px;
        color: #050505;
        line-height: 1.8;
    }
}

.content-box {
    width: 90%;
    position: relative;
    padding-left: 20px;
    // border: 1px solid red;
}

.content-itemMobile {
    width: 90%;
    border-left: 1px solid #777777;
    padding: 5% 20px;
    
    #time {
        font-size: 32px;
        color: #2f9ade;
        line-height: 1.2;
    }

    #text {
        margin-top: 10px;
        font-size: 16px;
        color: #050505;
        line-height: 1.8;
    }
}